h2 {
  color: rgb(7, 18, 27);
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.navbar {
  background: linear-gradient(90deg, rgb(3, 3, 30), rgb(58, 255, 19));
  position: sticky;
  top: 0;
  z-index: 2;
}

.link {
  background: rgb(250, 238, 238);
  border-radius: 8px;
}
